
body{
    background-color: #fff;
}
.navbar-toggler{
color: #fff;

}
/*logo index*/
#logo_nav{
color: #fff;
font-size: 20px;
text-transform: uppercase;
letter-spacing: 0.2rem;

}
#logo2 {
    font-size: 24px;
    text-transform: uppercase;
    letter-spacing: 0.2rem;
    color: #fff;
}

a {
    color: rgb(255, 255, 255);
    text-decoration: none;
    transition: 0.3s;
}

a:hover {
    opacity: 0.7;
}

nav {
    display: flex;
    justify-content: space-around;
    align-items: center;
    position: fixed;
    flex-wrap: wrap;
    font-family: Georgia, 'Times New Roman', Times, serif;
    background-color: #000000;
    height: 4.4rem;
    width: 100%;
    top: 0;
}

#nav-list {
    list-style: none;
    display: flex;
}

#nav-list li {
    margin-left: 32px;
}
.navbar {
    background-color: #000;
    height: 4.4rem;
}


/* pagina meus anuncios*/
.search-container {
    float: right;
    border-radius: 30px;
    background-color: #e4e4e4;
    display: flex;
    align-items: center;
    padding-right: 0.3rem
}


input[type=text] {
    padding: 0.4rem 0.8rem;
    font-size: 1rem;
    border: none;
    border-radius: 30px;
    background-color: #e4e4e4;
    color: #363636;
    text-align: left;

}
.search-container button {
    float: right;
    padding: 6px 10px;
    margin-top: 8px;
    margin-right: 16px;
    margin-left: 10px;
    background: #ddd;
    font-size: 17px;
    border: none;
    border-radius: 30px;
    cursor: pointer;
}

.search-container button:hover {
    background: #ccc;
}



#grid {
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
    margin-top: 0.5rem;
    gap: -5px;
}

.anuncio {
    width: 17rem;
    height: 27.5rem;
    display: flex;
    margin: 0.8rem;
    padding: 0.30rem;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    transition: box-shadow 200ms ease 0s;
    box-shadow: #7171711b 2px 1px 2px 1px;
    background-color: #F7F7F7;
    cursor: pointer;
    transition: 0.3s;
}

.anuncio:hover {
    background-color: #eeeeee;
    box-shadow: #7171711b 5px 5px 5px 5px;
}

.titulo_anunc {
    font-size: 18px;
    text-transform: uppercase;
    letter-spacing: 2px;
}

#form_carrinho {
    width: 100%;
}

.img_anunc {
    width: 15rem;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 13rem;
}

.img_anunc img {
    max-width: 100%;
    max-height: 100%;

}

.btn_anunc {
    width: 50%;
    padding: 10px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    background-color: #000;
    color: #ffffff;
    transition: 0.5s;
}

input:focus,
select:focus,
textarea:focus,
button:focus {
    outline: none;
}

#lupa:hover {
    cursor: pointer;
    
}

